.image-container {
  display: flex;
}

.image-zoom {
  position: relative;
  margin: 14px;
}

.image-zoom img {
  width: 215px;
  height: 215px;
  transition: transform 0.3s;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-zoom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.image-zoom:hover img {
  transform: scale(1.2);
}

.image-zoom:hover .overlay-text {
  opacity: 1;
}

.image-zoom:hover::before {
  opacity: 1;
}
